<% include header %>
    <div class="hero-unit">
      <h1>欢迎使用 <%= title %></h1>
    </div>
    <form class="form-horizontal" method="post">
      <fieldset>
        <legend>用户登入（用户名是您手机号的后四位）</legend>
          <div class="control-group">
            <label for="username" class="control-label">用户名</label>
            <div class="controls">
              <input type="text" name="username" class="input-xlarge" id="username">
            </div>
          </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">登录</button>
        </div>
      </fieldset>
    </form>
<% include footer %>
