<% include header %>
<div class="panel panel-default">
  <div class="panel-heading"><h2>随机场景 2</h2></div>
  <table class="table">
  <thead>
      <tr>
         <th>维度</th>
         <th>水平</th>
      </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td>不遵从给公司带来的收益</td>
      <td>可以给公司节约少量的钱</td>
    </tr>
    <tr class="success">
      <td>不遵从给经理带来的好处</td>
      <td>使经理升职或加薪的可能性提高</td>
    </tr>
    <tr class="active">
      <td>不遵从给公司带来的收益</td>
      <td>可以给公司节约少量的钱</td>
    </tr>
    <tr class="success">
      <td>不遵从给经理带来的好处</td>
      <td>使经理升职或加薪的可能性提高</td>
    </tr>
    <tr class="active">
      <td>不遵从给公司带来的收益</td>
      <td>可以给公司节约少量的钱</td>
    </tr>
    <tr class="success">
      <td>不遵从给经理带来的好处</td>
      <td>使经理升职或加薪的可能性提高</td>
    </tr>
    <tr class="active">
      <td>不遵从给公司带来的收益</td>
      <td>可以给公司节约少量的钱</td>
    </tr>
    <tr class="success">
      <td>不遵从给经理带来的好处</td>
      <td>使经理升职或加薪的可能性提高</td>
    </tr>
    <tr class="active">
      <td>不遵从给公司带来的收益</td>
      <td>可以给公司节约少量的钱</td>
    </tr>
    <tr class="success">
      <td>不遵从给经理带来的好处</td>
      <td>使经理升职或加薪的可能性提高</td>
    </tr>
  </tbody>
</table>
</div>

<div class="well">
  <div class="btn-group">
    <a type="button" class="btn btn-default" href="/scenario1">随机场景 1</a>
    <a type="button" class="btn btn-default" href="/scenario2">随机场景 2</a>
    <a type="button" class="btn btn-default" href="/scenario3">随机场景 3</a>
  </div>
</div>
<% include footer %>