<% include header %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>随机场景 1</h2>
    <p>描述：假设你是公司的经理，你面临的选择是：将公司的成本做高，以此达到降低利润，降低企业所得税的目的。以下十个维度介绍了你面临的具体环境：</p>
  </div>
  <table class="table">
  <thead>
      <tr>
         <th>维度</th>
         <th>水平</th>
      </tr>
  </thead>
  <tbody>
    <% scen.forEach(function(scenario, index){ 
      if (index % 2 == 0) { %>
        <tr class="active">
    <% } else { %>
        <tr class="success">
    <% } %>
      <td><%= scenario.timu %></td>
      <td><%= scenario.xuanze %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>

<div class="well">
  <div class="btn-group">
    <a type="button" class="btn btn-default" href="/scenario1">随机场景 1</a>
    <a type="button" class="btn btn-default" href="/scenario2">随机场景 2</a>
    <a type="button" class="btn btn-default" href="/scenario3">随机场景 3</a>
  </div>
</div>
<% include footer %>