<% include header %>
<div class="panel panel-default">
	<div class="panel-heading"><h2>用户列表</h2></div>
	<table class="table">
		<thead>
			<tr>
				<th>用户名</th>
				<th>随机场景 1</th>
				<th>随机场景 2</th>
				<th>随机场景 3</th>
			</tr>
		</thead>
		<tbody>
			<tr class="active">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="success">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="active">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="success">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="active">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="success">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="active">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="success">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="active">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
			<tr class="success">
				<td>2139</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
				<td>1,1,1,1,1,1,1,1,1,1</td>
			</tr>
		</tbody>
	</table>
</div>
<% include footer %>