<% include header %>
<div class="panel panel-default">
	<div class="panel-heading"><h2>用户列表</h2></div>
	<table class="table">
		<thead>
			<tr>
				<th>用户名</th>
				<th>随机场景 1</th>
				<th>随机场景 2</th>
				<th>随机场景 3</th>
			</tr>
		</thead>
		<tbody>
			<% list.forEach(function(userinfo, index){ 
				if (index % 2 == 0) { %>
					<tr class="active">
				<% } else { %>
					<tr class="success">
				<% } %>
						<td><%= userinfo.name %></td>
						<td><%= userinfo.s1 %></td>
						<td><%= userinfo.s2 %></td>
						<td><%= userinfo.s3 %></td>
					</tr>
			<% }) %>
		</tbody>
	</table>
</div>
<% include footer %>